:root {
    --columns: 1;
    --rows: 1;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows:repeat(var(--rows), 1fr);
    border: 1px solid black;
    overflow: hidden;
    height: 700px;
    width: 700px;
    margin: auto;
}

.grid-cell {
    border: 1px solid black;
    overflow: hidden;
}

.colored-cell {
    background-color: darkblue;
}