:root {
    --columns: 1;
    --rows: 1;
    --rainbow: ;
}

body {
    font-family: 'Rock Salt', cursive;
    text-align: center;
    background-color: #269;
  background-image:
    linear-gradient(rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.5) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

header {
    text-align: center;
    color: lightgray;
    text-shadow: 1px 1px 1px black;
}

#container {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows:repeat(var(--rows), 1fr);
    border: 1px solid black;
    overflow: hidden;
    height: 600px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}

#reset-button {
    margin: 30px;
    padding: 15px;
    font-family: 'Rock Salt', cursive;
    background-color: lightgray;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black;
}

#rainbow-button {
    margin: 30px;
    padding: 15px;
    font-family: 'Rock Salt', cursive;
    background-color: lightgray;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black;
}

#black-button {
    margin: 30px;
    padding: 15px;
    font-family: 'Rock Salt', cursive;
    background-color: lightgray;
    border: none;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black;
}

.grid-cell {
    border: none;
    overflow: hidden;
    background: lightgray;
}

.colored-cell {
    background-color: black;
}

.rainbow-cell {
    background-color: var(--rainbow);
}

@media only screen and (max-width: 700px) {
    #container {
        width: 300px;
        height: 300px;
    }

    #reset-button {
        padding: 10px;
        font-size: 0.8rem;
    }

    header {
        font-size: 0.8rem;
    }
}